/* components */
@import 'components/grid.css';
@import 'components/shapes.css';
@import 'components/title.css';
@import 'components/text.css';
@import 'components/button.css';
@import 'components/form.css';
@import 'components/card.css';
@import 'components/banner.css';
@import 'components/footer.css';

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  margin: 0px;
  font-family: 'Work Sans', sans-serif !important;
}

.main {
  background-color: #75101D;
  height: 100vh;
}

@media (max-width: 330px) {
  .main {
    height: 100%
  }
}
