.underlined {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

.underlined::placeholder{
  color: white;
  font-weight: bold;
}

.full-name {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .full-name {
    flex-direction: column;
  }

  .full-name input {
    padding: 20px;
  }
}
