.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vw;
  min-height: 100vh;
  grid-gap: 16px;
}

.left {
  background-color: #75101D;
}

.work-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
}




@media (min-width: 100px) and (max-width: 575px) {
  .work-cards {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}


@media (min-width: 576px) {
  .work-cards {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 768px) {
  .work-cards {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 992px) {
  .work-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1200px) {
  .work-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
  }
  .left {
    height: 65vh;
  }
}

@media (max-width: 360px) {
  .left {
    min-height: 100vh;
  }
}



