.white-shape {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 180px;
  width: 180px;
  background-color: white;
}

.red-shape {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 90px;
  width: 90px;
  background-color: #75101D;
}

.dotted-line {
  height: 100px;
  width: 50%;
  border-right: 5px dotted white;
}

.dotted-line-red {
  height: 100px;
  width: 50%;
  border-right: 5px dotted #75101D;
}

.circle {
  color: #75101D;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 50%;
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.arrow
{
  position: relative;
  bottom: -5rem;
  text-align: center;
  color: white;
  font-size: 50px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 992px) {
    .white-shape {
      visibility: hidden;
    }
}

@media (min-width: 420px) {
    .arrow {
      visibility: hidden;
    }
}
