.title {
  color: white;
  font-size: 36px;
  padding: 50px;
  padding-left: 75px;
}

.contact-form-title {
  padding: 30px;
  padding-top: 50px;
  color: white;
  font-weight: bold;
}

@media (max-width: 1200px) {
    .title {
      font-size: 24px !important;
      padding: 25px;
      text-align: center;
      margin-top: 20%;
    }
}

@media (max-width: 992px) {
  .title {
    margin-top: 0;
  }
}
